@model PodcastApplication.Areas.Administrator.Models.ViewModels.RegisterViewModel


@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="container mt-5">
    <h2 class="text-center mb-4">Create Your Account</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Register" asp-controller="Account" method="post" class="border p-4 rounded shadow">
                <div asp-validation-summary="All" class="text-success mb-3"></div>

                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="Enter your username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Country" class="form-label"></label>
                    <select asp-for="Country" class="form-select" asp-items="@(new SelectList(Model.Countries))">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Age" class="form-label"></label>
                    <input asp-for="Age" class="form-control" placeholder="Enter your age" />
                </div>

                <div class="d-grid">
                    <input type="submit" value="Create Account" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-warning" asp-action="Login" asp-controller="Account">
            Already Have An Account?
            <span class="text">Login</span>
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
