@model PodcastApplication.Models.Podcast

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Podcast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PodcastTitle" class="control-label">Title</label>
                <input asp-for="PodcastTitle" class="form-control" required/>
                <span asp-validation-for="PodcastTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastDescription" class="control-label">Description</label>
                <input asp-for="PodcastDescription" class="form-control" required />
                <span asp-validation-for="PodcastDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PodcastCoverImg" class="control-label">Cover Image</label>
                <input type="file" name="imgFile" asp-for="PodcastCoverImg" class="form-control" required />
                <span asp-validation-for="PodcastCoverImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category" required>
                    <option>--- Select Category ---</option>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

