@model IEnumerable<Menu>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager




<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand me-lg-5 me-0" href="index.html">
            <img src="~/images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
        </a>
        @if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "Register"))
        {
            <p></p>
        }
        else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "Login"))
        {
            <p></p>
        }
        else
        {
            <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
                <div class="input-group input-group-lg">
                    <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast" aria-label="Search">

                    <button type="submit" class="form-control" id="submit">
                        <i class="bi-search"></i>
                    </button>
                </div>
            </form>
        }
        

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto">
                @foreach (var menu in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">@menu.MenuTitle</a>
                    </li>
                }


                @* <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li><a class="dropdown-item" href="listing-page.html">Listing Page</a></li>

                <li><a class="dropdown-item" href="detail-page.html">Detail Page</a></li>
                </ul>
                </li> *@


            </ul>
            @if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
            ViewContext.RouteData.Values["Action"]?.ToString() == "Register"))
            {
                <p></p>
            }
            else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
            ViewContext.RouteData.Values["Action"]?.ToString() == "Login"))
            {
                <p></p>
            }
            else
            {
                <div class="ms-4">
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <form method="post">
                            <button type="submit" asp-action="Logout" asp-controller="Account" class="btn btn-primary py-2 px-4 d-none d-lg-block">Logout @User.Identity!.Name</button>
                        </form>
                    }
                    else
                    {
                        <a asp-action="Register" asp-controller="Account" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>
                    }
                </div>
            }
            
        </div>
    </div>
</nav>