@model PodcastApplication.Models.Episode

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Episode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EpisodeTitle" class="control-label"></label>
                <input asp-for="EpisodeTitle" class="form-control" />
                <span asp-validation-for="EpisodeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodeDescription" class="control-label"></label>
                <input asp-for="EpisodeDescription" class="form-control" />
                <span asp-validation-for="EpisodeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AudioFile" class="control-label"></label>
                <input asp-for="AudioFile" class="form-control" />
                <span asp-validation-for="AudioFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodeDuration" class="control-label"></label>
                <input asp-for="EpisodeDuration" class="form-control" />
                <span asp-validation-for="EpisodeDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodeNumber" class="control-label"></label>
                <input asp-for="EpisodeNumber" class="form-control" />
                <span asp-validation-for="EpisodeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastId" class="control-label"></label>
                <select asp-for="PodcastId" class ="form-control" asp-items="ViewBag.PodcastId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

