<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>PodTalk - @ViewData["Title"]</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link href="~/css/templatemo-pod-talk.css" rel="stylesheet">

    <!--

    TemplateMo 584 Pod Talk

    https://templatemo.com/tm-584-pod-talk

    -->
</head>

<body>

    <main>


        @await Component.InvokeAsync("Menu")

        @if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "Register"))
        {
            <section class="hero-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="text-center mb-5 pb-2">
                                <h1 class="text-black">Register</h1>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "Login"))
        {
            <section class="hero-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="text-center mb-5 pb-2">
                                <h1 class="text-black">Login</h1>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "CreatorAccount"))
        {

        }
        else if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Account" &&
        ViewContext.RouteData.Values["Action"]?.ToString() == "ListenerAccount"))
        {

        }
        else
        {
            <section class="hero-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="text-center mb-5 pb-2">
                                @if ((ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" &&
                               ViewContext.RouteData.Values["Action"]?.ToString() == "Index"))
                                {

                                    <h1 class="text-white">PodTalk</h1>

                                    <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Start listening</a>
                                }
                                else
                                {
                                    <h1 class="text-black">@ViewData["Title"]</h1>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        


        <div class="container">
            @RenderBody()
            @await RenderSectionAsync("Scripts", required: false)
        </div>

    </main>




    <footer class="site-footer">
        <div class="container">
            <div class="row">

                
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Contact</h6>

                    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 010-020-0340</p>

                    <p>
                        <strong class="d-inline me-2">Email:</strong>
                        <a href="#">inquiry@pod.co</a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12">

                    <h6 class="site-footer-title mb-3">Social</h6>

                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                <div class="col-lg-2 col-md-3 col-12">
                    <a class="navbar-brand" href=@Url.Action("Index", "Home")>
                        <img src="~/images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
                    </a>
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href=@Url.Action("Index", "Home") class="site-footer-link">Homepage</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href=@Url.Action("AllEpisodes", "Episodes") class="site-footer-link">Browse episodes</a>
                        </li>  
                        
                                           
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">
                         © 2024 PodTalk
                        
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
   @*  <script type="text/javascript">

        document.getElementById('btnSwitch').addEventListener('click', () => {
        let currentTheme = document.documentElement.getAttribute('data-bs-theme');
        if (currentTheme === 'dark') {
        document.documentElement.setAttribute('data-bs-theme', 'light');
        localStorage.setItem('theme', 'light');
        } else {
        document.documentElement.setAttribute('data-bs-theme', 'dark');
        localStorage.setItem('theme', 'dark');
        }
     });

// On page load, check for saved theme preference
window.onload = () => {
    const savedTheme = localStorage.getItem('theme') || 'light';  // Default to light
    document.documentElement.setAttribute('data-bs-theme', savedTheme);
};

    </script> *@

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>
